<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game</title>
  </head>
  <body>
    {{#game}}
    <ul>
      <li>
        {{name}}
        {{genre}}
        {{description}}
      </li>
    </ul>
    {{/game}}
  </body>
</html>
